<ion-view title="Accueil" hide-back-button="true" id="page1" style="background-color:#EBF1EA;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-university"> ISEG / UNIDAF</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-android-home"> Accueil</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="accueil-form4" class="list">
      <label class="item item-input" id="accueil-search1" name="rech" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Rechercher" type="search">
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="accueil-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="accueil-slide24" style="background:url(&quot;img/PiD6VsRLK19VQM9dBKdA_ISEG.jpg&quot;) no-repeat center;background-size:cover;background-color:#FFFFFF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="accueil-slide25" style="background:url(&quot;img/QBQ3FGESAWi4ARE4h6v4_etablissementon5345.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="accueil-slide26" style="background:url(&quot;img/5oajvwfpRw65tgh3jzZB_IMG_20170730_223731_837.jpg&quot;) no-repeat center;background-size:cover;" class="padding"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="accueil-list2">
      <ion-item class="item-avatar positive" id="accueil-list-item5" style="">
        <img src="img/BtihpaE6Tfe6ZrL6uMO7_11011657_839300636144040_8397738952571601557_n-800x445.jpg">
        <h2positive>Mamadou Diop
          <p>Directeur Général (ISEG/UNIDAF)</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://isegcesmi.com/nos-filieres/">
        <img src="img/Bqs8RXFoQu6TBJeyf8v4_filieres-1.jpg" style="display: block; width: 110%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 283.2px; height: 30px;"></div>
    <h5 id="accueil-heading9" style="color:#5018E4;font-weight:600;text-align:center;">NOS PARTENAIRES</h5>
    <div>
      <a style="display:block;" href-inappbrowser="https://isegcesmi.com/nos-partenaires/">
        <img src="img/oXfMlsZ0TPyoEyhUEEuW_AGREE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 283.2px; height: 33px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://isegcesmi.com/nos-partenaires/">
        <img src="img/NaavjQaXQ0GjzD8ulUik_DIOPMINISTRE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 283.2px; height: 36px;"></div>
    <h5 id="accueil-heading5" style="color:#000000;font-weight:300;text-align:center;">Tous droits réservés MLD</h5>
  </ion-content>
</ion-view>