<ion-view title="A Propos de nous" id="page6" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-university"> ISEG/UNIDAF</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-earth"> A propos de nous</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/mlMKd2gT5OLCWhRWxIOw_IMG_20171003_083949_173.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 283.2px; height: 28px;"></div>
    <ion-list id="aProposDeNous-list6">
      <ion-item class="item-avatar item-icon-right assertive" id="aProposDeNous-list-item7" style="">
        <img src="img/GaYLGV8QjmVI3TG5C9Gc_IMG_20170708_171700_936.jpg">
        <h2assertive>Salim Amir Salim
          <p>Développeur de l'APP</p>
          <i class="icon ion-android-checkmark-circle"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <ion-list id="aProposDeNous-list7">
      <ion-item class="item-icon-left energized" id="aProposDeNous-list-item11" href="tel:+221 78 3765203" style="">
        <i class="icon ion-android-call"></i>+221 78 3765203</ion-item>
      <ion-item class="item-icon-left energized" id="aProposDeNous-list-item12" href="mailto:Salnouram23@gmail.com" style="">
        <i class="icon ion-ios-email"></i>Salnouram23@gmail.com</ion-item>
      <ion-item class="item-icon-left energized" id="aProposDeNous-list-item13" style="">
        <i class="icon ion-ios-location"></i>Sacré-coeur 3</ion-item>
    </ion-list>
    <div class="spacer" style="width: 283.2px; height: 35px;"></div>
    <h2 id="aProposDeNous-heading2" style="color:#C26666;font-weight:400;text-align:center;">Présentation</h2>
    <div class="spacer" style="width: 283.2px; height: 19px;"></div>
    <div id="aProposDeNous-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Avec plus de 10 000 étudiants dont plus de 200 internationaux, l’Institut Supérieur d’Entrepreneurship et de Gestion – ISEG, propose des formations dans des domaines aussi divers que le management, la gestion et comptabilité, banque Assurances,
        Journalisme et Communication d’entreprises, Commerce et Affaires internationales, Transport et logistique, Gestion des ressources humaines, Tourisme et Loisirs, Entrepreneuriat, Création d’entreprises et Gestion de projets, Informatique et les
        TIC, Marketing, les sciences de l’Education, Langues appliquées.</p>

      <p style="color:#FFFFFF;">La politique pédagogique et scientifique de l’ISEG place la pluridisciplinarité au cœur de ses priorités. Sa recherche d’excellence est articulée en pôles autour des différentes filières enseignées.</p>

      <p style="color:#FFFFFF;">-Agrément définitif de l’Etat depuis 1996 sous le n° 216/DES/MEN du 17 janvier 1996. (Diplômes signés par le Ministre de Tutelle)</p>

      <p style="color:#FFFFFF;">-Agrément du réseau European Network of Living Labs (ENoLL) de la Commission Européenne.</p>

      <p style="color:#FFFFFF;">-Reconnaissance des diplômes par le Conseil Africain et Malgache pour l’Enseignement Supérieur (CAMES).</p>

      <p style="color:#FFFFFF;">-Reconnaissance internationale des diplômes par des universités et Grandes Ecoles européennes avec des accords de partenariat signés avec l’Espagne, le Portugal, la France, le Luxembourg, l’Italie, la Roumanie.</p>

      <p style="color:#FFFFFF;">-Lauréat du Concours mondial European Satellite Navigation Competition (ESNC)2010 avec le projet Mlearning4africa organisée la par GSA (Satellites Galilea et EGNOS) et la Commission Européenne.</p>

      <p style="color:#FFFFFF;">-Membre du projet européen Awareness in Africa (AiA) financé la Commission Européenne pour vulgariser les applications des Satellites Galileo et EGNOS 2012-2014.</p>

      <p style="color:#FFFFFF;">-2 020 étudiants dont 10 % d’étudiants étrangers</p>

      <p style="color:#FFFFFF;">-36 personnels administratifs et 120 enseignants dont 15 enseignants-chercheurs</p>

      <p style="color:#FFFFFF;">4 Campus universitaires á Dakar, dont 1 en partenariat avec la Faculté des Sciences Juridiques et Politiques de l’Université Cheikh Anta DIOP de Dakar.</p>

      <p style="color:#FFFFFF;">-10 autres Campus délocalisés déjà opérationnels: Pikine – Keur Massar – Kaolack – Fatick – Thiès – Ziguinchor – Mbour – Ourossogui – Kolda – Kaffrine…</p>

      <p style="color:#FFFFFF;">-01 Living Lab ( Laboratoirede Recherche) avec agrément du Réseau European Network of Living (ENoLL) de la Commission Européenne.</p>

      <p style="color:#FFFFFF;">-01 Incubateur d’Entreprise pour encadrer les étudiants et les diplômés d’entreprendre á travers le Programme Teranga Entreprendre.</p>

      <p style="color:#FFFFFF;">-Des Ecoles doctorales en préparation pour la formation des doctorants.</p>

      <p style="color:#FFFFFF;">-20 pays partenaires en Afrique, Europe et Amérique du Nord</p>

      <p style="color:#FFFFFF;">– Des partenariats Erasmus de la Commission Européenne</p>

      <p style="color:#FFFFFF;">– Des dizaines de conventions et accords de coopération internationaux signé</p>
    </div>
    <div class="spacer" style="width: 283.2px; height: 9px;"></div>
    <h5 id="aProposDeNous-heading7" style="color:#FFFFFF;font-weight:300;text-align:center;">Tous droits réservés</h5>
  </ion-content>
</ion-view>