<ion-view title="Contact" id="page7" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-university"> ISEG/UNIDAF</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-ios-telephone"> Contact </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283.2px; height: 36px;"></div>
    <h4 id="contact-heading3" style="color:#000000;font-weight:300;font-style:italic;text-align:center;">Contactez-nous</h4>
    <ion-list id="contact-list9">
      <ion-item class="item-thumbnail-left royal" id="contact-list-item14" style="">
        <img src="img/Ii9HkOe3TKW1DRPANRB8_ISEG.jpg">
        <h2royal>ISEG
          <p style="white-space:normal;">Institut Supérieur d'Entrepreneurship et de Gestion</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="contact-list-item8" style="">
        <img src="img/OXW2XoOdTNuM6ZZATRH6_etablissementon5345.jpg">
        <h2royal>UNIDAF
          <p style="white-space:normal;">Université Internationale des Diasporas Africaines</p>
        </h2royal>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283.2px; height: 21px;"></div>
    <ion-list id="contact-list8">
      <ion-item class="item-icon-left balanced" id="contact-list-item16" href="tel:+221 33 864 26 60 " style="">
        <i class="icon ion-android-call"></i>TEl : +221 33 864 26 60 </ion-item>
      <ion-item class="item-icon-left balanced" id="contact-list-item15" href="mailto: isegcesmi@gmail.com" style="">
        <i class="icon ion-android-mail"></i> isegcesmi@gmail.com</ion-item>
      <ion-item class="item-icon-left balanced" id="contact-list-item17" style="">
        <i class="icon ion-ios-location"></i>SACRE COEUR 1 N° 8469</ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <h5 id="contact-heading4" style="color:#000000;font-weight:300;text-align:center;">Tous droits réservés MLD</h5>
  </ion-content>
</ion-view>