<ion-view title="Se connecter" id="page5" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-university"> ISEG/UNIDAF</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-ios-contact"> Se connecter</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/0V9GKzRmSnm2tZIH0OGM_IMG_20170720_154509_714.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="seConnecter-form2" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <ion-list id="seConnecter-list4">
        <label class="item item-input" id="seConnecter-input9" name="identifiant">
          <span class="input-label">Identifiant</span>
          <input placeholder="Salnouram" type="text">
        </label>
        <label class="item item-input" id="seConnecter-input10" name="motdepasse">
          <span class="input-label">Mot de passe</span>
          <input placeholder="**************" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="seConnecter-button9" class="button button-energized button-block valider">Connexion</button>
      <a href-inappbrowser="/s'inscrire" id="seConnecter-button10" class="button button-positive button-block button-clear">Ou créer un compte</a>
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <h5 id="seConnecter-heading8" style="color:#000000;font-weight:300;text-align:center;">Tous droits réservés MLD</h5>
  </ion-content>
</ion-view>