<ion-view title="S'inscrire" id="page4" style="background-color:#FFFAFA;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-university"> ISEG / UNIDAF</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-android-person-add"> S'inscrire</button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/L3AzLo1TaOgnjl3pBVMt_143071550.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <h4 id="sInscrire-heading1" style="color:#A54D4D;font-weight:300;font-style:italic;text-align:center;">Veuillez remplir cette formulaire</h4>
    <div class="spacer" style="width: 283.2px; height: 32px;"></div>
    <form id="sInscrire-form1" class="list">
      <label class="item item-input" id="sInscrire-input1" name="nom">
        <span class="input-label">Votre nom :</span>
        <input placeholder="Salim Amir Salim" type="text">
      </label>
      <label class="item item-input" id="sInscrire-input2" name="email">
        <span class="input-label">Email : </span>
        <input placeholder="Salnouram23@example.com" type="email">
      </label>
      <label class="item item-input" id="sInscrire-input3" name="motdepasse">
        <span class="input-label">Mot de passe</span>
        <input placeholder="*****************" type="password">
      </label>
      <div class="spacer" style="width: 283.2px; height: 21px;"></div>
      <ion-list id="sInscrire-list3">
        <label class="item item-input" id="sInscrire-input4" name="telephone">
          <span class="input-label">Téléphone :</span>
          <input placeholder="+221 XX XXXXXXX" type="tel">
        </label>
        <label class="item item-input" id="sInscrire-input5" name="pays">
          <span class="input-label">Pays d'Origine :</span>
          <input placeholder="COMORES" type="text">
        </label>
        <label class="item item-input" id="sInscrire-input7" name="filiere">
          <span class="input-label">Filière choisie : </span>
          <input placeholder="Génie logiciel &amp; Marketing ..." type="text">
        </label>
        <label class="item item-input" id="sInscrire-input6" name="niveau">
          <span class="input-label">Niveau d'Etude : </span>
          <input placeholder="Licene 1,2,3 &amp; M 1,2 " type="text">
        </label>
        <label class="item item-input" id="sInscrire-input12" name="adresse">
          <span class="input-label">Adrresse :</span>
          <input placeholder="Sacré-coeur 3, Villa 10005" type="text">
        </label>
      </ion-list>
      <div id="sInscrire-button-bar1" class="button-bar"></div>
    </form>
    <button id="sInscrire-button1" style="font-size:19px;" class="button button-balanced button-block Valider">S'inscrire</button>
    <button id="sInscrire-button8" style="font-size:19px;" class="button button-assertive button-block annuler">Annuler</button>
    <div class="spacer" style="width: 283.2px; height: 22px;"></div>
    <h5 id="sInscrire-heading6" style="color:#000000;font-weight:300;text-align:center;">Tous droits réservés MLD</h5>
  </ion-content>
</ion-view>